@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    filter: brightness(30%);
    z-index: -1;
}
body {
    background: black;
    /* color: #dedede; */
}

.header {
    align-items: center;
    position: fixed;
    top:0;
    right:0;
    width: 100%;
    padding: 20px;
    background: transparent;
    display: flex;
    justify-content: flex-end;
}
.header p{
    font-size: 30px;
    color: #ededed;
    text-decoration:none;
    font-weight: 500;
    margin-left: 35px;
    font-family: 'Sevillana', cursive;
}
.home {
    height: 100vh;
    display:flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 600px; 
}
.home-content h1{
    position: relative;
    font-size: 40px;
    font-weight: 500;
    color: rgb(0, 255, 221);
}
.home-content h1::before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content h2{
    position: relative;
    font-size: 30px;
    font-weight: 300;
    color: rgb(20, 156, 201);
}
.home-content h2::before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
}
.home-content p{
    position: relative;
    font-size: 20px;
    color: #fff;
    margin: 20px 0;
}
.home-content p::before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: black;
    animation: showRight 1s ease forwards;
    animation-delay: 2s;
}
.home-content .btn-box{
    display:flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 15%;
    color: #081b29;
    text-decoration: none;
    letter-spacing: 1px;
    z-index: 1;
    font-weight: 800;
    font-size: 20px;
    overflow: hidden;
    transition: .3s;
}
.btn-box a:hover{
    color: #00abf0 ;
}
.btn-box a:nth-child(2) {
    background: transparent;
    color: #02425c;
}
.btn-box a:nth-child(2):hover {
    color: #081b29;
}
.btn-box a:nth-child(2)::before {
    background:#00abf0;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2995c0;
    z-index: -1;
}
.btn-box a:hover::before{
    width: 100%;
}
.home-sci {
    position: absolute;
    bottom: 40px;
    width: 50%;
}
.home-sci a {
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 200;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}
.home-sci a:hover {
    color: #081b29;
}
.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #5ed1ff;
    z-index: -1;
    transition: .3s
}
.home-sci a:hover::before {
    width: 100%; 
}
.home-imgHover {
    position: relative;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: .3s;
}
.home-imgHover:hover{
    background: #081b29;
    opacity: .8;
}
@keyframes showRight {
    100% {
        width: 0;
    }
}
.sidebar {
    position: absolute;
    height: 100%;
    width: 300px;
    border-right: 0.8px solid rgba(223, 213, 213, 0.836);
    transition: 0.5s ease;
    transform: translateX(-300px);
    backdrop-filter: blur(10px);
    z-index: 1001;
}
.sidebar h1 {
    color: #fff;
    font-weight: 800;
    text-align: center;
    padding: 20px 0;
    padding-left: 35px;
    pointer-events: none;
}
ul {
    position: relative;
}
ul li {
    list-style: none;
    transition: 1s ease;
    transform: translateX(-200px);
}

ul li a {
    color: #fff;
    display: block;
    padding: 5px 0;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
}

ul li:hover a {
    color: #05a8a8;
}

ul li a i {
    width: 100%;
    height: 5%;
    gap: 10px;
    margin-left: 20px;
    align-items: left;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 20px;
    border: 0.8px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    border-radius: 2px;
    z-index: 1001;
}

.toggle .common {
    position: absolute;
    height: 2px;
    width: 20px;
    left: 50%;
    background: #fff;
    border-radius: 50px;
    transform: translate(-50%);
    transition: 0.2s ease;
}

.toggle .top_line {
    top: 30%;
}

.toggle .middle_line {
    top: 50%;
}

.toggle .bottom_line {
    top: 70%;
}

input[type="checkbox"]:checked ~ .toggle .top_line {
    transform: rotate(-45deg);
    left: 2px;
    top: 14px;
    width: 25px;
}

input[type="checkbox"]:checked ~ .toggle .bottom_line {
    transform: rotate(45deg);
    left: 2px;
    top: 14px;
    width: 25px;
}

input[type="checkbox"]:checked ~ .toggle .middle_line {
    transform: translateX(20px);
    opacity: 0;
}

input[type="checkbox"]:checked ~ .sidebar {
    transform: translateX(0);
}

input[type="checkbox"]:checked ~ .sidebar ul li {
    transform: translateX(0);
}
/* Adding blur effect on home section when sidebar is active */
input[type="checkbox"]:checked ~ .home {
    filter: blur(5px);
}