{% extends "base.html" %}
{% block title %}Computer Vision{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/css_folder/ml.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block content %}
<div class="container">
    <div class="left-column">
        <h1>Facial recognition</h1>
        <p>
            Facial recognition is a way of identifying or confirming an individual's identity using their face. 
            Facial recognition systems can be used to identify people in photos, videos, or in real-time.
            To achieve this, it's important that the deep learning model can extract a 128-dimensional feature vector from the face image. 
            After obtaining the encodings of the face, it compares with the encodings of known faces, and then compares the "face distance".
            If the distance between the new face encoding and a known face encoding is below a certain threshold, the faces are considered a match.
        </p>
        <br>
        <p>
            I find it pretty inresting to work with some frameworks like mediapipe (because of their fast speed in face detection) and 
            face_cognition (for their efficient face distinguishing between individuals). Some projects I have made are face recognition for attendence projects,
            intergrating face detection in taking photos and recording videos for training my ML models, face filtering, head-pose estimation, etc 
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="/static/images/facial_recognition.jpg" alt="Example Image">
    </div>
</div>
<hr>
<div class="container">
    <div class="left-column">
        <h1>Depth estimation</h1>
        <p>
            For depth estimation, the MiDaS model v2.1 is lightweight and running pretty smoothly on my computer. 
            Some tasks like estimating depth for head-pose detection run super fast, and i am excited about it. 
            However, due to some limitations in terms of equipments, I would not recommend monocular depth estimation as it is not as accurate and efficient as
            stereo vision. If you have two stereo camera, it would provide you with the accurate estimation, and it's recommended for some projects
            like building vision for robots or flycam.
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="/static/images/depth.jpg" alt="Example Image">
    </div>
</div>
<hr>
<div class="container">
    <div class="left-column">
        <h1>Working with pretrained YOLO and SSD models</h1>
        <p>
            YOLO is a real-time object detection system that treats object detection as a single regression problem.
            Unlike traditional methods (like R-CNN), which generate multiple region proposals and then classify each region, 
            YOLO makes predictions directly from the full image in one go, which makes it faster.
        </p>
        <br>
        <p>
            SSD is another real-time object detection algorithm that, like YOLO, makes predictions directly from the image in a single pass, 
            but it introduces some improvements in accuracy and precision, especially for detecting objects of different sizes.
            I have used the SSD-mobilenet model, it's a combination of SSD model and MobileNet architecture. The MobileNet is a backbone of lightweight and fast detection, in my opinion.
        </p>
        <br>
        <p>
            Both are useful for tasks like person detection in real-time, counting objects, tracking person or the trajectory of objects
            For YOlo v5n, I find like we can train our custom dataset much easier, with the help of the templates on google colab notebook, but anyway, this is my personal opinion.
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="/static/images/yolo.png" alt="Example Image">
        <img src="/static/images/SSD-yolo.png" alt="Example Image">
    </div>
</div>
<hr>
<div class="container">
    <div class="left-column">
        <h1>Hand detection</h1>
        <p>
            Creating a hand detection module is important for this today's world, especially given the increasing interests in human-computer interaction.
        </p>
        <br>
        <p>
            Regrading NUIs (natural user interfaces), hand detection is essential in building more intuitive and natural user interfaces, allowing people to interact with computers, smart devices,
        </p>
        <p>
            In VR/AR applications, hand detection enables more immersive experiences. 
            Users can interact with virtual objects and environments using their hands, making the experience more engaging and realistic.
        </p>
        <p>
            In terms of gesture-based control system, in smart homes, robots, or vehicles, gesture-based control systems powered by hand detection offer a touch-free way to control devices.
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="/static/images/hand.png" alt="Example Image">
    </div>
</div>
{% endblock %}