{% extends "base.html" %}
{% block title %}English studying{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/css_folder/ml.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{% block content %}

<div class="container">
    <div class="left-column">
        <h1>IELTS certificate</h1>
        <p>
            I wanna tell you my journey of studying English, IELTS preparation and also a true story of me joining in the IELTS examination, all the problems I encountered a long the way and how I managed to get through.
            So First of all, my journey to IELTS started in 2022 but initially I wasn't really interested in studying and I was just thinking to myself that I wouldn't need English for my later work.
            However, when I promised to myself to learn seriously, I gradually developed a passion for English. I felt excited about all the expressions that I didn't know before, about the other countries' cultures. 
            And over the time, I felt pretty comfortable with the English environment around me, I can understand much more when I listened to broadcast and news.
            Here are some recommended sources that can help you improve your English in generally, not just about IELTS: 
        </p>
        <p>
            news with NBC news, CNN and all the authentic news sources
        </p>
        <br>
        <p>
            The day on the real test was so incredible that I could overcome all the difficulties and got the results 8.0
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="/static/images/RNNs.jpg" alt="Example Image">
    </div>
</div>
<hr>
<div class="container">
    <div class="left-column">
        <h1>Working part-time as a speaking teaching</h1>
        <p>
            After getting an amazing 8.0 Ielts score, I also work as a teaching assistant. If you have any problems with your speaking skills or need a partner for your English studying journey, feel free to message me.
            I would be very happy to connect more with other people, helping you guys to get the score you want. 
        </p>
        <p>
            Probably I will consider to retake the test at some points in the future. I also pan to learn some other languages like Chinese or Korean.
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="" alt="Example Image">
    </div>
</div>
{% endblock %}