{% extends "base.html" %}
{% block title %}English studying{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/css_folder/ml.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{% block content %}
<div class="container">
    <div class="left-column">
        <h1>Convolutional Neural Network</h1>
        <p>A CNN, or Convolutional Neural Network, 
            is a type of artificial intelligence. It is mainly used for analyzing images. 
            It works by breaking the image into small pieces and looking for patterns. 
            These patterns help it recognize things in the image, like edges or shapes. 
        </p>
        <br>
        <p>
            For some of my CNN projects, I have created some models for binary classification or image classification: 
            including classifying between cats and dogs, MNIST (hand-written digits) or applying in the medical fields to detect malaria diseases.
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="/static/images/CNN.png" alt="Example Image">
    </div>
</div>
<hr>
<div class="container">
    <div class="left-column">
        <h1>Recurrent Neural Network</h1>
        <p>A recurrent Neural net (or RNN) is a type of neural net designed for processing sequences of data
            such as time series, language or video frames. Unlike traditional feedforward neural networks,
            RNNs have a unique architecture that includes loops, allowing them to maintain a hidden state that captures 
            information about previous elements in the sequence. Long short term memory (LSTM) is a type of recurrent neural net.
            CNNs would work well image classification, but it lacks the ability to deal with sequences in video, 
            so it's important that CNNs and RNNs can work well with eath other, so that the model can track the trajectory of an object from one frame to another.
        </p>
        <br>
        <p>
            I've built some projects like house-price prediction, car price prediction, crypto price prediction.
            All the yolo models are built Sequntial CNN for real time object detection
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="/static/images/RNNs.jpg" alt="Example Image">
    </div>
</div>
<hr>
<div class="container">
    <div class="left-column">
        <h1>GANs</h1>
        <p>Generative Adversarial Networks (GANs) are a class of machine learning models used for generating new data samples that are similar to a given dataset. 
            GANs consist of two main components, a generator and a discriminator, which are trained simultaneously in a game-like scenario.
            The generator's role is to create data indistinguishable from real-world data, 
            while the discriminator evaluates the data, determining if it's genuine or produced by the generator.
            This innovative architecture allows GAN models to generate realistic synthetic data, pushing the boundaries of AI's creative potential.
        </p>
        <br>
        <p>
            Based on a large number of dog and cat images I obtain, besides using this dataset for training my CNN model to categorize dog and cat images,
            I use it for training my GANs model to produce realistic dog or cat images. At the first stage of my training process, model will learn at a high rate (0.01),
            so it's important for me to reduce the learning rate over the 100 or 200 epochs as the training goes, or otherwise, there'll be a high chance of overfitting.
            The result was somewhat "not quite what I expected", but I made my first steps in generative AI field. 
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="/static/images/GANs.jpg" alt="Example Image">
    </div>
</div>
<hr>
{% endblock %}