{% extends "base.html" %}
{% block title %}English studying{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/css_folder/ml.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{% block content %}
<div class="container">
    <div class="left-column">
        <h1>third prize in the Olympic debate contest</h1>
        <p>
            Being able to join in this debate contest is definitely a privilege, as it really brings me a lot of new experiences.
            I was also able to open my social circle, connect with new friends. Honestly, it was incredible that I overcame my "stage fright" to deliver the best I could on the debate round.
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="/static/images/CNN.png" alt="Example Image">
    </div>
</div>
<hr>
<div class="container">
    <div class="left-column">
        <h1>IELTS certificate</h1>
        <p>
            I wanna tell you my journey of studying English, IELTS preparation and also a true story of me joining in the IELTS examination, all the problems I encountered a long the way and how I managed to get through.
            So First of all, my journey to IELTS started in 2022 but initially I wasn't really interested in studying and I was just thinking to myself that I wouldn't need English for my later work.
            However, when I promised to myself to learn seriously, I gradually developed a passion for English. I felt excited about all the expressions that I didn't know before, about the other countries' cultures. 
            And over the time, I felt pretty comfortable with the English environment around me, I can understand much more when I listened to broadcast and news.
            Here are some recommended sources that can help you improve your English in generally, not just about IELTS: 
        </p>
        <p>
            news with NBC news, CNN and all the authentic news sources
        </p>
        <br>
        <p>
            The day on the real test was so incredible that I could overcome all the difficulties and got the results 8.0
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="/static/images/RNNs.jpg" alt="Example Image">
    </div>
</div>
{% endblock %}