{% extends "base.html" %}
{% block title %}Software project{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/css_folder/ml.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{% block content %}
<div class="container">
    <div class="left-column">
        <h1>My personal website</h1>
        <p>
            This website is built with pure HTML, CSS, JavaScript, and Python. Rather than using modern frameworks like Node.js, Vue.js, or Next.js, 
            I chose a minimalist approach to maintain full control and flexibility in my codebase.
        </p>
        <br>
        <p>
            The website operates using Python (Flask) to handle routes through blueprints for the various web pages. User information (email and full name) submitted on the login/signup page is securely stored in a connected database using an API key.
            While I call it a login page, users simply input their email and full name, which redirects y'all to the homepage. 
            In practice, this function is more like a signup form.
        </p>
        <br>
        <p>
            You can explore all the code on my GitHub repository. 
            Feel free to clone it and tailor the project to suit your needs. 
            While you'll have full access to the code, note that sensitive data such as my database connection keys and API keys are not included for security reasons.
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="/static/images/website.jpg" alt="Example Image">
    </div>
</div>
<hr>
<div class="container">
    <div class="left-column">
        <h1>My thesis project</h1>
        <p>
            My thesis defend last term was about computer vision and real-time color detection. 
            THe main purpose of this is to learn about the pymodbus communication method between python and PLC.
        </p>
        <br>
        <p>
            But I wanna push my boundaries further so I create the whole "GUI - graphical user interface" that that allows users to interact with the machine and control it.
            I integrated in the GUI multiple buttons, lighting systems for warning the users if there could be sth wrong, and input labels, etc.
            The whole software was written in tkinter and customtkinter. The code will be also available on my github repo, fell free to clone it for your own usage.
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="/static/images/demo.jpg" alt="Example Image">
    </div>
</div>
<hr>
<div class="container">
    <div class="left-column">
        <h1>Mobile app (cooming soon)</h1>
        <p>
            The idea I am having in my head right now is creating a chat app that runs on both IOS and Android, and it would be written in React Native.
            The chat app will also integrate chatbot, some generative AI models such as large language model (LLM), gen music AI and gen image AI.
            This is a big project that not only allows users to chat with each other (socket will do the job of real-time communication) but also to chat with AI within the same platform.
            However, integrating AI models into one single platform can accumulate fees (API fees, cloud hosting fees, and so on), so this would take me a long-time to make this project a reality, to turn the ideas in my head into real production.
        </p>
        <br>
        <p>
            Just stay turned and follow me for more information of this chatapp.
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="/static/images/chat-app.jpg" alt="Example Image">
    </div>
</div>
<hr>
{% endblock %}