{% extends "base.html" %}
{% block title %}Software project{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/css_folder/ml.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{% block content %}
<div class="container">
    <div class="left-column">
        <h1>My personal website</h1>
        <p>
            This website is built with pure HTML, CSS, JavaScript, and Python. Rather than using modern frameworks like Node.js, Vue.js, or Next.js, 
            I chose a minimalist approach to maintain full control and flexibility in my codebase.
        </p>
        <br>
        <p>
            The website operates using Python (Flask) to handle routes through blueprints for the various web pages. User information (email and full name) submitted on the login/signup page is securely stored in a connected database using an API key.
            While I call it a login page, users simply input their email and full name, which redirects y'all to the homepage. 
            In practice, this function is more like a signup form.
        </p>
        <br>
        <p>
            You can explore all the code on my GitHub repository. 
            Feel free to clone it and tailor the project to suit your needs. 
            While you'll have full access to the code, note that sensitive data such as my database connection keys and API keys are not included for security reasons.
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="/static/images/CNN.png" alt="Example Image">
    </div>
</div>
<hr>
<div class="container">
    <div class="left-column">
        <h1>Recurrent Neural Network</h1>
        <p>A recurrent Neural net (or RNN) is a type of neural net designed for processing sequences of data
            such as time series, language or video frames. Unlike traditional feedforward neural networks,
            RNNs have a unique architecture that includes loops, allowing them to maintain a hidden state that captures 
            information about previous elements in the sequence. Long short term memory (LSTM) is a type of recurrent neural net.
            CNNs would work well image classification, but it lacks the ability to deal with sequences in video, 
            so it's important that CNNs and RNNs can work well with eath other, so that the model can track the trajectory of an object from one frame to another.
        </p>
        <br>
        <p>
            I've built some projects like house-price prediction, car price prediction, crypto price prediction.
            All the yolo models are built Sequntial CNN for real time object detection
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="/static/images/RNNs.jpg" alt="Example Image">
    </div>
</div>
<hr>
<div class="container">
    <div class="left-column">
        <h1>GANs</h1>
        <p>Generative Adversarial Networks (GANs) are a class of machine learning models used for generating new data samples that are similar to a given dataset. 
            GANs consist of two main components, a generator and a discriminator, which are trained simultaneously in a game-like scenario.
            The generator's role is to create data indistinguishable from real-world data, 
            while the discriminator evaluates the data, determining if it's genuine or produced by the generator.
            This innovative architecture allows GAN models to generate realistic synthetic data, pushing the boundaries of AI's creative potential.
        </p>
        <br>
        <p>
            Based on a large number of dog and cat images I obtain, besides using this dataset for training my CNN model to categorize dog and cat images,
            I use it for training my GANs model to produce realistic dog or cat images. At the first stage of my training process, model will learn at a high rate (0.01),
            so it's important for me to reduce the learning rate over the 100 or 200 epochs as the training goes, or otherwise, there'll be a high chance of overfitting.
            The result was somewhat "not quite what I expected", but I made my first steps in generative AI field. 
        </p>
    </div>
    <div class="right-column">
        <h2>Image Section</h2>
        <img src="/static/images/GANs.jpg" alt="Example Image">
    </div>
</div>
<hr>
{% endblock %}